* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

button {
  font-size: 18px;
  border-radius: 8px;
  border: none;
  background-color: rgb(28, 90, 2);
  color: #F9FAF8;
  padding: 15px 25px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 20px;
}

input {
  width: 150px;
  padding: 0;
  margin: 0;
}

.image-sidebar {
  background-image: url("images/community_garden.jpg");
  height: 100%;

  /* properties as flex child */
  flex-grow: 1;

  /* is also flex parent */
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.logo-strip {
  background-color: rgb(0, 0, 0, 0.3);
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.buy-nothing-title {
  color: rgb(145,233,106);
}

.main-content {
  box-sizing: border-box;
  padding: 30px;
  height: 100%;
  flex-grow: 2;
  background-color: rgb(145,233,106, 0.2);
  color: rgb(28, 90, 2);
  display: flex;
  flex-flow: column;
  justify-content: center;
}


.explanation {
  width: 1000px;
}

.content-text {
  width: 1000px;

}

.sign-up-form {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-top: 1em;
  padding-left: 3em;
  padding-bottom: 3em;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 50px 50px 50px;
  grid-auto-rows: 50px;
  padding-top: 10px;
  padding-bottom: 25px;
}

.inputField {
  display: flex;
  flex-flow: column;
}

.create-account {
  display: flex;
  justify-content: center;
}