* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-size: 16px;
}

button {
  font-size: 18px;
  border-radius: 8px;
  border: none;
  padding: 15px 25px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button a {
  position: relative;
  z-index: 1;
  padding: 8px 20px 8px 20px;
}


h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.3rem;

}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.1rem;
}

p {
  font-size: 1rem;
}

/* h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 20px;
} */

th, td {
  padding: 10px;
}

tbody tr:nth-child(even) {
  background-color: rgb(231, 227, 227);
}

input {
  height: 150px;
  width: 250px;
  padding: 8px;
  font-size: 16px;
  margin: 0;
  border-radius: 5px;
  border-color: rgb(209, 206, 206);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input.highlight-error {
  border-color: #900;
  background-color: #FDD;
}

input:focus:invalid {
  outline: none;
}

/* This is the style of our error messages */
.error {
  padding-top: 5px;
  font-size: 80%;
  color: #900;
}

.error.active {
  padding: 0.3em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  padding: 0 10px 0 10px;
}

.footer {
  padding: 20px;
}

.footer-text {
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  color: #E5E7EB;
}

.footer a {
  color: #a5abe6;
}

.footer a:hover {
  color: #c8e0f7;
}

.navigation {
  padding: 15px;
}

.navigation a:hover {
  color: #a5abe6;
}


/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.3);
}

.hvr-subtle-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  cursor: pointer;
}

.hvr-subtle-grow:hover,
.hvr-subtle-grow:focus,
.hvr-subtle-grow:active {
  transform: scale(1.05);
}