body {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  padding-left: 15px;
  padding-right: 15px;
}

#first-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: initial;
}

#scores {
  flex: initial;
}

#choices {
  display: flex;
  flex-wrap: wrap;
}

#buttons {
  margin-top: 15px;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  flex: initial;
}

.card-div:active {
  transform: scale(1.1);
  transition: 0.1s;
}

.game-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-div {
  padding: 15px;
}

#round_result {
  display: flex;
  justify-content: space-between;
  flex: initial;
}

#cards_result {
  display: flex;
  justify-content: space-between;
}

#round_result_text {
  text-align: center;
  white-space: pre;
  margin-top: 10px;
  flex: initial;
}

#round_history {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  max-width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

#scores {
  display: flex;
  justify-content: space-evenly;

}
.score {
  padding-left: 5px;
}

.scoreHeading {
  display: flex;
  justify-content: center;
  /* max-width: 300px; */
  margin: 15px;
}

.card-spacer {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weapon-img {
  max-height: 250px;
  max-width: 100%;
  /* max-width: 300px; */
  /* margin: 15px; */
  /* border: 3px solid rgb(218, 216, 216); */
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.player-hover {
  border: 5px solid #2098D1;
}

.win {
  border: 5px solid rgb(65, 201, 65);
}

.loss {
  border: 5px solid red;
}

.tie {
  border: 5px solid orange;
}